*.cpython-38.pyc
*.pyc
lecture3/lecture3/__pycache__/settings.cpython-38.pyc
lecture3/lecture3/__pycache__/urls.cpython-38.pyc
lecture3/db.sqlite3
.vscode/launch.json
.vscode/settings.json
lecture3/hello/migrations/__pycache__/__init__.cpython-38.pyc
lecture3/db.sqlite3
